<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card *ngFor="let article of articles" (click)="open(article.url)">
    <img src="{{article.urlToImage}}" alt="Image not available"/>
    <ion-card-header>
      <ion-card-subtitle>{{article.source.name}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{article.title}}
    </ion-card-content>
  </ion-card>

  <div class="link-container" *ngIf="!loading">
    <a href="https://newsapi.org">Powered by NewsApi.org</a>
  </div>

</ion-content>
