<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COVID-19 Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item [hidden]="isLoading">
    <ion-label>Select country:</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" class="select" [(ngModel)]="selectedCountry" (ionChange)="onCountryChange($event)">
      <ion-select-option value="World">World</ion-select-option>
      <ion-select-option *ngFor="let c of countries" value="{{c}}">{{c}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="container" [hidden]="isLoading">
    <ion-grid>

      <ion-row>
        <ion-col size="12">
          <div class="category">Confirmed:</div>
        </ion-col>
        <ion-col size="12">
          <div class="confirmed"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div class="category">Deaths:</div>
        </ion-col>
        <ion-col size="12">
          <div class="deaths"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div class="category">Recoverd:</div>
        </ion-col>
        <ion-col size="12">
          <div class="recovered"></div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <div>
    <a href="https://www.worldometers.info/coronavirus">World Meters</a>
  </div>

</ion-content>