<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COVID-19 Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item [hidden]="isLoading">
    <ion-label>Select country:</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" class="select" [(ngModel)]="selectedCountry" (ionChange)="onCountryChange($event)">
      <ion-select-option value="World">World</ion-select-option>
      <ion-select-option *ngFor="let c of countries" value="{{c}}">{{c}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="container" [hidden]="isLoading">
    <div class="category">Total cases:</div>
    <div class="cases"></div>
    <div class="category">New cases:</div>
    <div class="todayCases"></div>
    <div class="category">Total deaths:</div>
    <div class="deaths"></div>
    <div class="category">New deaths:</div>
    <div class="todayDeaths"></div>
    <div class="category">Recoverd:</div>
    <div class="recovered"></div>
  </div>

</ion-content>