<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COVID-19 Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <ion-grid>

      <ion-row>
        <ion-col>
          Confirmed
        </ion-col>
        <ion-col>
          <div class="confirmed"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Deaths
        </ion-col>
        <ion-col>
          <div class="deaths"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Recoverd
        </ion-col>
        <ion-col>
          <div class="recovered"></div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>
