$yellow: #F7DD72;
$red: #D2AB99;
$green: #8DB38B;

ion-content ion-toolbar {
  --background: translucent;
}

ion-row {
  margin: 24px 0;
  color: black;
}

.container {
  padding: 24px;
  font-family: 'Josefin Sans', sans-serif;
}

.fullWidthRow {
  text-align: center;
  color: #666;
}

.category {
  @extend .fullWidthRow;
  font-size: 4vmin;
}

.cases {
  @extend .fullWidthRow;
  font-size: 16vmin;
  color: $yellow;
}

.todayCases {
  @extend .cases;
  color: darken( $yellow, 20% );
}

.deaths {
  @extend .fullWidthRow;
  font-size: 16vmin;
  color: $red;
}

.todayDeaths {
  @extend .deaths;
  color: darken( $red, 20% );
}

.recovered {
  @extend .fullWidthRow;
  font-size: 16vmin;
  color: $green;
}

.flip {
  font-size: 8vw;
}
