ion-content ion-toolbar {
  --background: translucent;
}

.link-container {
  text-align: right;
  position: absolute;
  font-size: 8px;
  right: 16px;
  bottom: 16px;

  & > a {
    color: #666666;
  }
}

.newsImage {
  width: 100%;
  object-fit: cover;
}
