<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COVID-19 News
    </ion-title>
    <div class="link-container" *ngIf="!loading">
      <a href="https://newsapi.org">Powered by NewsApi.org</a>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>
    <div class="error-text">
      <ion-text color="danger" *ngIf="networkError">
        Unable to load news. Please try again later.
      </ion-text>
    </div>

    <ion-list>
      <ion-card *ngFor="let article of articles" (click)="open(article.url)" [hidden]="!getImageUrl(article)">
        <img class="newsImage" src="{{getImageUrl(article)}}" appAltImage="./assets/alt1.jpg" alt="image"/>
        <ion-card-header>
          <ion-card-subtitle>{{article.source.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{article.title}}
        </ion-card-content>
      </ion-card>
    </ion-list>
  
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

</ion-content>
