$yellow: #f7dd72;
$red: #d2ab99;
$green: #8db38b;

ion-content ion-toolbar {
  --background: translucent;
}

ion-row {
  margin: 24px 0;
  color: black;
}

.container {
  padding: 24px;
  position: absolute;
  display: flex;
  height: calc(100% - 158px);
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.fullWidthRow {
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  color: #666;
}

.category {
  @extend .fullWidthRow;
  font-size: 1rem;
}

.cases {
  @extend .fullWidthRow;
  font-size: 2rem;
  color: $yellow;
}

.todayCases {
  @extend .cases;
  color: darken($yellow, 20%);
}

.deaths {
  @extend .fullWidthRow;
  font-size: 2rem;
  color: $red;
}

.todayDeaths {
  @extend .deaths;
  color: darken($red, 20%);
}

.recovered {
  @extend .fullWidthRow;
  font-size: 2rem;
  color: $green;
}

.flip {
  font-size: 8vw;
}
